<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

    <!--Slides-->
    <div class="container carousel-inner" role="listbox" style="margin: 75px auto 20px auto;">

              {{#each latest3}}
                <div class="carousel-item active">
                    <div class="col-md-4 mb-4">
                        <div>
                            <div class="event-image">
                                <img class="img-fluid" src="../images/{{this.image1}}" alt="Card image cap">
                                <div class="event-image-overlay">
                                    <div class="text">
                                        <a class="btn btn-elegant active" href="/event/{{this.id}}" target="_blank" role="button">
                                            {{this.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}

                {{#each early3}}
                <div class="carousel-item ">
                    <div class="col-md-4 mb-4">
                        <div>
                            <div class="event-image">
                                <img class="img-fluid" src="../images/{{this.image1}}" alt="Card image cap">
                                <div class="event-image-overlay">
                                    <div class="text">
                                        <a class="btn btn-elegant active" href="" target="_blank" role="button">
                                            {{this.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!--/.Slides-->
        <!--Controls-->
    <div class="controls-top control-center mb-5">
        <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fa fa-angle-left fa-2x pr-3"></i></a>
        <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fa fa-angle-right fa-2x pl-3"></i></a>
    </div>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
